header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #BDC3C7;
  color: #34495E;
  display: flex;
  align-items: center; /* Vertically centers the items */
  padding: 0 20px; /* Adds padding to left and right */
  height: 125px;
  font-family: Georgia;
}

.headerName {
  font-size: 3.5rem;
}

.nav-links {
  position: fixed; /* Absolute positioning to push it to the right */
  right: 60px; /* Keeps it 20px from the right edge of the page */
  transform: translateY(-50%); /* Moves it up by 50% of the height to center it */
  list-style: none;
  display: flex;
  gap: 30px; /* Adds space between navigation items */
  margin: 0;
  color: #34495E;
}

.nav-links li {
  display: inline;
  font-size: 2rem;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  font-size: 2rem;
}

.nav-links a:visited {
  color: #34495E;/* Optional hover effect */
}

.nav-links a:hover {
  color: black;/* Optional hover effect */
  font-size: 2.5rem;
  font-weight: bold;
}



@media (max-width: 1200px) {
  .headerName {
    font-size: 28px;
  }
  .nav-links a {
    font-size: 18px;
  }
  .nav-links a:hover {
    font-size: 1.5rem;
  }
}